.tasks {
  height: 45vh;
  display: flex;
  flex-direction: column;

}

.rightNav {
  position: sticky;
  top: 0;
  background: orange;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;

}

.task {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  border: solid 1px;
  overflow-wrap: break-word;
  width: 90%;


}

.task button {
  background-color: rgba(128, 255, 0, 0.295);
  color: darkgreen;
}

.tasks-s {
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-content: center;
}